body { 
    margin: 0; 
    padding: 0; 
  }
  
  #map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
    height: 100vh; 
  }
  
  .controls {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
  }
  
  #distance {
    margin-top: 10px;
    font-weight: bold;
  }
  
  #nearby-buttons button {
    margin-top: 10px;
    display: block;
    width: 100%;
  }
  
  #nearby-results {
    margin-top: 10px;
  }
  